.address-content {
    max-width: 680px;
    margin: 40px auto;
}

.address-content__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 80px;
    font-weight: bold;
}

.address-form {
    display: flex;
    flex-direction: column;
}

.address-form__group {
    display: flex;
    flex-direction: column;
    height: 140px;
}

.address-form__label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 24px;
}

.address-form__input {
    width: 100%;
    padding: 12px;
    border: 1px solid #5F5F5F;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
    appearance: none;
}

.address-form__input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.address-form__submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 70px;
}

.address-form__submit-btn:hover {
    background-color: #EE4444;
}

@media (max-width: 850px) {
    .address-content {
        max-width: 70%;
        margin: 20px auto;
    }

    .address-content__title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .address-form__group {
        height: auto;
        margin-bottom: 20px;
    }

    .address-form__label {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .address-form__input {
        padding: 10px;
        font-size: 16px;
    }

    .address-form__submit-btn {
        font-size: 20px;
        padding: 12px;
        margin-top: 30px;
    }
}