body {
    font-family: 'Inter', sans-serif;
}

.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1515px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__logo {
    display: flex;
    align-items: center;
    height: 80px;
}

.header__logo-image {
    height: 36px;
    margin-left: 10px;
}

.header__search {
    flex-grow: 1;
    max-width: 500px;
    margin: 0 6px 0 20px;
}

.header__search input {
    width: 100%;
    height: 50px;
    font-size: 24px;
    padding: 0 30px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav__item {
    text-align: center;
    width: 135px;
    margin-left: 8px;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    background: transparent;
    border: none;
    padding: 0;
    border-radius: 0;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 24px;
    padding: 0 0 3px 0;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.header-nav__sell-button {
    width: 100px;
    height: 50px;
    background: #fff;
    color: #000;
    font-size: 24px;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.form__error {
    color: #ff0000;
    text-align: left;
    font-size: 20px;
    margin-top: 5px;
    height: auto;
}

@media (max-width: 1200px) {
    .header-utilities {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-top-row {
        justify-content: center;
        gap: 20px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px;
    }
}

@media (max-width: 850px) {
    .header__logo-image {
        height: 30px;
    }

    .header__search input,
    .header-nav__link,
    .header-nav__button,
    .header-nav__sell-button {
        font-size: 18px;
    }

    .header__search input {
        height: 40px;
        padding: 0 15px;
    }

    .header-nav__sell-button {
        height: 40px;
        padding: 8px 15px;
    }

    nav {
        margin-top: 0;
    }

    .form__error {
        font-size: 16px;
        margin-top: 5px;
    }
}