.mypage__content {
    max-width: 1515px;
    margin: 20px auto;
}

.mypage__header {
    margin: 55px 0;
    padding-top: 20px;
}

.mypage__profile-info {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.mypage__profile-image {
    width: 150px;
    height: 150px;
    margin-left: 10%;
    border-radius: 50%;
    background-color: #eee;
    overflow: hidden;
    border: 1px solid #ddd;
}

.mypage__profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mypage__profile-image-placeholder {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 50%;
}

.mypage__username {
    font-size: 36px;
    font-weight: bold;
    margin-left: 20px;
}

.mypage__user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 星を左揃えにする場合 */
    margin-left: 30px;
}

.mypage-rating {
    width: 220px;
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    margin-top: 5px;
}

.mypage-rating__star--filled {
    color: #FFF048; /* 黄色い星 */
}

.mypage-rating__star--empty {
    color:#D9D9D9; /* グレーの星 */
}

.mypage__edit-button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #fff;
    color: #ff5555;
    border: 2px solid #ff5555;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 26px;
    font-weight: bold;
    margin: 0 auto;
}

.mypage__edit-button:hover {
    background-color: #ffebeb;
}

.mypage__tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-bottom: 2px solid #5f5f5f;
    padding-bottom: 10px;
    padding-left: 20px;
}

.mypage__tab {
    padding: 10px 20px;
    margin-left: 25px;
    text-decoration: none;
    color: #5f5f5f;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.mypage__tab:first-child {
    margin-left: 100px;
}

.mypage__tab:hover {
    color: #000;
}

.mypage__tab.active {
    color: #ff0000;
    border-bottom: none;
}

.mypage__tab-badge {
    /* width: 27px; */
    height: 27px;
    display: inline-block;
    background-color: #FF0000;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 0 4px;
    border-radius: 10px;
    margin-left: 8px;
    min-width: 27px;
    text-align: center;
    line-height: 27px;
    /* vertical-align: middle; */
}
.mypage__item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 40px;
    max-width: 1515px;
    margin: 40px 40px 30px 60px;
}

.item-card {
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
}

.item-card-link {
    text-decoration: none;
}

.item-card__image {
    max-width: 290px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.item-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-card__name {
    padding: 5px;
    font-size: 25px;
    color: #000;
}

.item-card__sold-overlay {
    position: absolute;
    top: 15px;
    left: -65px;
    width: 235px;
    transform: rotate(-45deg);
    background-color: #ff5555;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    font-size: 45px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.item-card__badge {
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #FF0000;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 0px 2px;
    border-radius: 50%;
    z-index: 10;
    /* min-width: 20px; */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
    .mypage__item-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 850px) {
    .mypage__header {
        margin-bottom: 30px;
    }

    .mypage__profile-info {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 0;
    }

    .mypage__profile-image {
        margin: 0;
    }

    .mypage__user-details{
        margin: auto;
    }
    .mypage__username {
        font-size: 22px;
        margin: auto;
    }

    .mypage__edit-button {
        font-size: 16px;
        padding: 8px 10px;
        width: 240px;
        text-align: center;
        letter-spacing: 0.2em;
    }

    .mypage__tabs {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .mypage__tab {
        font-size: 20px;
        padding: 8px 15px;
        margin-left: 30px;
    }

    .mypage__tab:first-child {
        margin: 0;
    }

    .mypage__item-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin: 40px;
        max-width: 100%;
    }

    .item-card__name {
        font-size: 20px;
    }

    .item-card__sold-overlay {
        top: 10px;
        left: -33px;
        width: 130px;
        font-size: 24px;
        padding: 3px 0;
    }
}

@media (max-width: 550px) {
    .mypage__header {
        margin: 20px 0 20px;
    }
    .mypage__item-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .mypage__tabs {
        justify-content: space-evenly;
    }

    .mypage__tab,
    .mypage__tab:first-child {
        padding: 0 0 10px;
        margin: 0;
    }
}


